.logo-text {
  color: black !important;
}

.navbar.navbar-override {
  margin-bottom: 0px !important;
}

.navbar-main {

  .navbar-text {
    margin-left: 15px;
  }

  .cart-items-count {
    color: slateblue;
  }

  .prod-name {
    margin: 0 1rem;
  }

  img {
    max-width: 20px;
    max-height: 20px;
    background-color: transparent;
  }
}
