nav.navbar.navbar-default.navbar-override(ng-controller='NavbarCtrl')
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed(
      type='button', data-toggle='collapse', data-target='#navbar-main', aria-expanded='false')
        span.sr-only Navigation menu
        span.icon-bar
        span.icon-bar
        span.icon-bar
      .navbar-brand.logo-text
        i.fa.fa-shopping-cart.fa-lg
        span.ml1 Example Shopping Application

    #navbar-main.collapse.navbar-collapse
      ul.nav.navbar-nav(ng-show='isLoggedIn()')
        li(ng-repeat='item in menu', ng-class='{active: isActive(item.link)}')
          a(ng-href='{{item.link}}') {{item.title}}

        li(ng-show='isAdmin()', ng-class='{active: isActive("/admin")}')
          a(href='/admin') Admin

      ul.nav.navbar-nav.navbar-right
        li(ng-hide='isLoggedIn()', ng-class='{active: isActive("/signup")}')
          a(href='/signup') Sign Up

        li(ng-hide='isLoggedIn()', ng-class='{active: isActive("/login")}')
          a(href='/login') Login

        // Cart
        li(ng-show='isLoggedIn() && Cart.getCount() > 0')
          .navbar-text
            span.bold Cart:&nbsp;
            span.cart-items-count &nbsp;{{ Cart.getCount() }} items

        li(ng-show='isLoggedIn()')
          p.navbar-text.bold {{ getCurrentUser().name }}

        li(ng-show='isLoggedIn()', ng-class='{active: isActive("/logout")}')
          a.btn-logout(href='', ng-click='logout()') Logout
