.main-container {
  background-color: aliceblue;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

//================================================
//Banner

.my-banner {
    border-bottom: none;
    margin-top: -20px;
}

.my-banner h1 {
    font-size: 40px;
    line-height: 1;
    letter-spacing: -1px;
}

.banner-img {
  width: 64px;
  height: 64px;
}

.hero-unit {
    position: relative;
    padding: 5px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

//Banner
//================================================

.product-list-section {
  flex: 1 1 0px;

  background-color: lightgreen;
}

.prod-filter-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.prod-filter-col {
  flex: 1 1 0px;
}

.filter-input {
  max-width: 30rem;
}
