.main-container.vh100.w100

  // Navigation bar
  .my-navbar(ng-include='"components/navbar/navbar.html"')

  // Banner
  .my-banner.hero-unit
    .container
      h1 Welcome to our new shop!
      p.lead Here you can find all you need!
      img.banner-img(src='assets/images/yeoman.png', alt='I am Yeoman')

  // Filter section
  .filter-section.p1
    .panel.panel-default
      .panel-heading Product list filter
      .panel-body
        // 1st line
        .prod-filter-row
          .prod-filter-col
            // Date From
            label Issued after:
            p.input-group.filter-input
              input.form-control(type='text', uib-datepicker-popup='{{datepickerInputFrmt}}', ng-model='filterDtFrom',
              is-open='isFilterDtFromOpened', datepicker-options='datepickerOpts')
              span.input-group-btn
                button.btn.btn-default(type='button', ng-click='openFilterDtFrom()')
                  i.fa.fa-calendar
          .prod-filter-col
            // Date To
            label Issued before:
            p.input-group.filter-input
              input.form-control(type='text', uib-datepicker-popup='{{datepickerInputFrmt}}', ng-model='filterDtTo',
              is-open='isFilterDtToOpened', datepicker-options='datepickerOpts')
              span.input-group-btn
                button.btn.btn-default(type='button', ng-click='openFilterDtTo()')
                  i.fa.fa-calendar
          .prod-filter-col
            .checkbox
              label Check me out
                input(type='checkbox' ng-model="showInStockOnly")

        // 2nd line
        .prod-filter-row
          .prod-filter-col
            // Min Price
            label Price Min:
            input.form-control.filter-input(type='number' min="0.00" step="0.01" ng-model="priceMin")
          .prod-filter-col
            // Max Price
            label Price Max:
            input.form-control.filter-input(type='number' min="0.00" step="0.01" ng-model="priceMax")
          .prod-filter-col
            span ha-ha2

  // Product list
  .product-list-section.p1
    div ha-bly-bly
