div(ng-include='"components/navbar/navbar.html"')

.mybanner.hero-unit
  .container
    h1 Welcome to our new shop!
    p.lead Here you can find all you need!
    img.banner-img(src='assets/images/yeoman.png', alt='I am Yeoman')

.container
  .row
    .col-lg-12
      h1.page-header Features:
      ul.nav.nav-tabs.nav-stacked.col-md-4.col-lg-4.col-sm-6(ng-repeat='thing in awesomeThings')
        li
          a.item-link(href='#', tooltip='{{thing.info}}')
            | {{thing.name}}
            button.close(type='button', ng-click='deleteThing(thing)') ×

  form.thing-form
    label Syncs in realtime across clients
    p.input-group
      input.form-control(type='text', placeholder='Add a new thing here.', ng-model='newThing')
      span.input-group-btn
        button.btn.btn-primary.btn-add-new(type='submit', ng-click='addThing()') Add New
