.main-container.vh100.w100

  // Navigation bar
  .my-navbar(ng-include='"components/navbar/navbar.html"')

  // Banner
  .my-banner.hero-unit
    .container.p1
      .banner-title Welcome to our new shop!
      .banner-subtitle.mt1 Here you can find all you need!

  // Filter section
  .filter-section.p1
    .panel.panel-default.filter-panel
      .panel-heading.text-large Product List Filter
      .panel-body
        // 1st line
        .prod-filter-row
          .prod-filter-col
            // Date From
            label Issued after:
            p.input-group.filter-input
              input.form-control(type='text', uib-datepicker-popup='{{datepickerInputFrmt}}', ng-model='filterDtFrom',
              is-open='isFilterDtFromOpened', datepicker-options='datepickerOpts')
              span.input-group-btn
                button.btn.btn-default(type='button', ng-click='openFilterDtFrom()')
                  i.fa.fa-calendar
          .prod-filter-col
            // Date To
            label Issued before:
            p.input-group.filter-input
              input.form-control(type='text', uib-datepicker-popup='{{datepickerInputFrmt}}', ng-model='filterDtTo',
              is-open='isFilterDtToOpened', datepicker-options='datepickerOpts')
              span.input-group-btn
                button.btn.btn-default(type='button', ng-click='openFilterDtTo()')
                  i.fa.fa-calendar
          .prod-filter-col
            .checkbox
              label Check me out
                input(type='checkbox' ng-model="showInStockOnly")

        // 2nd line
        .prod-filter-row
          .prod-filter-col
            // Min Price
            label Price Min:
            input.form-control.filter-input(type='number' min="0.00" step="0.01" ng-model="priceMin")
          .prod-filter-col
            // Max Price
            label Price Max:
            input.form-control.filter-input(type='number' min="0.00" step="0.01" ng-model="priceMax")
          .prod-filter-col
            // Max Price
            label Color:
            select.form-control.filter-input(ng-model='color',
            ng-options='opt.name for opt in colorOptions')

  // Product list
  .product-list-section.p1(ng-show="products && products.length > 0")
    .panel.panel-default.product-panel(ng-repeat="prod in products | orderBy:'id':true", id="product{{prod.id}}")
      .panel-body.product-panel-body
        img.prod-icon(ng-src="{{prod.img}}", alt="{{prod.name}}")
        .prod-name {{ prod.name }}
        .prod-issued {{ prod.issued | date:'HH:mm:ss &nbsp; dd.MM.yyyy' }}
        .prod-price {{ prod.price | number : 2 }}
        .prod-color {{ prod.color }}
        .prod-in-stock {{ prod.in_stock }}
        .prod-rating {{ prod.rating }}
        // Del btn
        button.btn.btn-success.order-prod-btn(ng-click="onOrderBtnClick(prod)")
          i.fa.fa-check
  .no-products-msg.text-xlarge.p1(ng-hide="products.length > 0") Нет продуктов
