.main-container {
  background-color: aliceblue;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

//================================================
//Banner

.my-banner {
    border-bottom: none;
    margin-top: -20px;
}

.my-banner {
  line-height: 1;

  .banner-title {
    font-size: 30px;
  }

  .banner-subtitle {
    font-size: 15px;
  }
}

.hero-unit {
    position: relative;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

//Banner
//================================================

.product-list-section {
  flex: 1 1 0px;

  background-color: lightgreen;
}

.filter-panel {
  margin-bottom: 0px !important;
}

.prod-filter-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.prod-filter-col {
  flex: 1 1 0px;
}

.filter-input {
  max-width: 30rem;
}
