.main-container.vh100.w100

  .my-navbar(ng-include='"components/navbar/navbar.html"')

  .my-banner.hero-unit
    .container
      h1 Welcome to our new shop!
      p.lead Here you can find all you need!
      img.banner-img(src='assets/images/yeoman.png', alt='I am Yeoman')

  .filter-section.p1
    .panel.panel-default
      .panel-heading Panel heading without title
      .panel-body
        Panel content

  .product-list-section.p1
    div ha-bly-bly
