.main-container {
  background-color: aliceblue;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

//================================================
//Banner

.my-banner {
    border-bottom: none;
    margin-top: -20px;
}

.my-banner {
  line-height: 1;

  .banner-title {
    font-size: 30px;
  }

  .banner-subtitle {
    font-size: 15px;
  }
}

.hero-unit {
    position: relative;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

//Banner
//================================================


//////////////////////////////////////////////////
// Filters

.filter-panel {
  margin-bottom: 0px !important;
}

.prod-filter-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.prod-filter-col {
  flex: 1 1 0px;
}

.filter-input {
  max-width: 30rem;
}

// Filters
//////////////////////////////////////////////////


//================================================
// Product list

.product-list-section {
  flex: 1 1 0px;
  overflow-y: auto;
}

@media (min-width: 768px) {
  .prod-card {
    display: grid;
    grid-column-gap: 1rem;
    grid-template-columns: 10rem repeat(3, 1fr);
    grid-template-rows: repeat(3, 3rem);
  }
}

.prod-icon {
  grid-row: span 2;

  img {
    height: 6rem;
  }
}

.prod-name {
  grid-column: span 2;
}

// Product list
//================================================
